
@import url('fonts.css');

body{
    background-color:rgb(87, 87, 87);
    color: antiquewhite;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
li{
    list-style: none;
    float: left;
    margin-left: 12px;
    
}
.navbar{
    text-decoration: none;
    background-color: rgb(70, 70, 70);
    color: whitesmoke;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px;
}
.navbar:hover{
    background-color: whitesmoke;
    color: rgb(87, 87, 87);
    box-shadow: rgba(0, 0, 0, 0.1) -5px -5px;
}
a{
    color:whitesmoke;
}